

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    text-align: center;
}

.col-10 {
    display: none;
}


.active {
    display: block;
}

.player {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80%;
    position: relative;
    left: -80%;
    
}

.next, .prev {
    background-color: rgba(128, 128, 128, 0.262);
    border: none;
    color: white;
    
}